:root {
  --bg-color: white;
  --text-color: black;
}

.dark-theme {
  --bg-color: #212728;
  --text-color: white;
}

.light-theme {
  --bg-color: white;
  --text-color: black;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.footer {
  display: flex;
  padding: 15px;
  height: 420px;
  background-color: #212728;
  color: var(--text-color);
  width: 100vw;
}
.cursor-pointer {
  cursor: pointer;
}

.nav {
  display: flex;
  padding: 0;
  height: 75px;
  background-color: #212728;
  color: var(--text-color);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
}

.sobre {
  display: flex;
  padding: 15px;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100vw;
}